
.vs/ProjectEvaluation/travelaround.metadata.v8.bin
.vs/ProjectEvaluation/travelaround.projects.v8.bin
.vs/ProjectEvaluation/travelaround.strings.v8.bin
.vs/travelaround/FileContentIndex/22c0d324-ec67-4e9c-8f0b-411d87753a4d.vsidx
.vs/travelaround/FileContentIndex/2e3415ea-554b-4c94-a61b-a25ef2cebe0d.vsidx
.vs/travelaround/FileContentIndex/57f2344c-17dc-4948-b595-db0abdf3c422.vsidx
.vs/travelaround/FileContentIndex/9d65b653-b6f9-465d-a0a6-4fcecf3b9a24.vsidx
.vs/travelaround/FileContentIndex/c6f809f8-6bb4-4b4f-8d5a-5539b608e627.vsidx
.vs/travelaround/v17/.futdcache.v2
.vs/travelaround/v17/.suo
.vs/travelaround/v17/DocumentLayout.json
TravelMapApi/obj/Debug/net8.0/TravelMapApi.assets.cache
